<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<title>Lista de tarefas | Projeto 1</title>
	<link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
	<div class="tarefas">
	    <form method="post">
		<input type="text" name="tarefa" required>
		<input type="submit" name="acao" value="inserir">
	    </form>
	    <% for (let a = 0; a < tarefasList.length; a++) { %>
	    <p> <%= tarefasList[a] %> <a href="/delete/<%= a %>">X</a> </p>
	    <% } %>
	</div>
    </body>
</html>
